{% extends 'board/layout.html' %}
{% load staticfiles %}
{% block content %}
<div id="content-wrapper">
	<div class="container-fluid">
		<div>
		    <h1>Django Board Create</h1>
	    </div>
	    <form method="post" action="/board/create">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <div><button type="submit", class="btn btn-success", value="save">Save</button>
	    </form>
		<a href="/board/"><button type="button" class="btn btn-primary">Back to List</button></a></div>
	</div>
</div>
{% endblock content %}