{% extends 'board/layout.html' %}
{% load staticfiles %}
{% block content %}
<div id="content-wrapper">
	<div class="container-fluid">
		<div align="center">
	        <h1>View Detail</h1>
	    </div>
	<div>
		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
			<tr>
				<th bgcolor="gray" width='20%'>Number</th>
				<td>{{board.b_id}}</td>
				<th bgcolor="gray" width='20%'>Counts</th>
				<td>{{board.b_read_count}}</td>
			</tr>
			<tr>
				<th bgcolor="gray" width='20%'>Writer</th>
				<td>{{board.b_writer}}</td>
				<th bgcolor="gray" width='20%'>Join Day</th>
				<td>{{board.b_reg_date | date:"Y-m-d D"  }}</td>
			</tr>
			<tr>
				<th bgcolor="gray" width='20%'>Subject</th>
				<td colspan="3">{{board.b_subject}}</td>
			</tr>
			<tr>
				<th bgcolor="gray" width='20%' >Contents</th>
				<td colspan="3" , rowspan="10"><textarea readonly="readonly">{{board.b_content}}</textarea></td>
			</tr>
		</table>
		<div align="right">
			<a href="{% url 'update' b_id=board.b_id %}"><button type="button" class="btn btn-warning">Update</button></a>
			<a href="{% url 'delete' b_id=board.b_id %}"><button type="button" class="btn btn-danger">Delete</button></a>
			<a href="/board/"><button type="button" class="btn btn-info">Back to List</button></a>
		</div>
	</div>
	</div>
</div>
{% endblock content %}