{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Django Board</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
	<div align="center">
		<font size='5'> Board</font><br>
		<table border="1" width="800" height='600'>
			<tr heigtht='10%'>
				<th><a href="/board/create">New Content</a></th>
				<th><a href="#">main2</a></th>
				<th><a href="#">main3</a></th>
			</tr>
			<tr>
				<td colspan="5" align="center">
					<table class="outline" width="99%">
					<tr>
						<th>No</th>
						<th>Title</th>
						<th>writer</th>
						<th>time</th>
						<th>count</th>
					</tr>
					{% for board in board_list %}
					<tr>
						<td>{{board.b_id}}</td>
						<td><a href="{% url 'detail' b_id=board.b_id %}">{{board.b_subject}}</a></td>
						<td>{{board.b_writer}}</td>
						<td>{{board.b_reg_date | date:"Y-m-d D"  }}</td>
						<td>{{board.b_read_count}}</td>
					</tr>
					{% endfor %}
					</table>
				</td>
			</tr>
			{% if is_paginated %}
			<tr>
				<td colspan="5" align="center">
					<ul class="pagination">
					{% if page_obj.has_previous %}
						<li>
							<span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
						</li>
					{% endif %}
						<li>
							<span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
						</li>
					{% if page_obj.has_next %}
						<li>
							<span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
						</li>
					{% endif %}
					</ul>
				</td>
			</tr>
			{% else %}
			<tr>
				<td colspan="5" align="center">
					Not yet created
				</td>
			</tr>
			{% endif %}
			<tr >
				<td colspan="5" align="center">
					David's Django Board Project
				</td>
			</tr>
		</table>
</body>
</html>