{% extends 'board/layout.html' %}
{% load staticfiles %}
{% block content %}
<div id="content-wrapper">
	<div class="container-fluid">
	    <div>
		    <h1>Django Board Update</h1>
	    </div>
	    <form method="post" action="/board/update/{{b_id}}">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <button class="btn btn-success" type="submit", value="save">Save</button>
	    </form>
		<a href="{% url 'detail' b_id=b_id %}"><button class="btn btn-primary">Back to Content</button></a>
		<a href="/board/"><button class="btn btn-info">Back to List</button></a>
    </div>
</div>
{% endblock content %}